/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*:before,*:after{
    box-sizing: inherit;
}


/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/

body{
    background: url(../images/fond/global.png) repeat;
    background-color: black;
    font: normal 16px 'Oranienbaum', sans-serif;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: darkorange;
}




/*------------------------------------------------------------------------------
   Modules
------------------------------------------------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */





/*---------------------------------------
                header
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */

header, section{
    height: 100vh;
    width: 100vw;
}

header, section div{
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    position: relative;
    text-align: center;
}

header a{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

h1{
    font: normal 6.25rem 'Monoton', sans-serif;
}

/*---------------------------------------
                Section Générale
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */

.boite{
    width: 800px;
    padding: 48px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}




/*---------------------------------------
                Section sports
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */






/*---------------------------------------
                Section web
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */







/*---------------------------------------
             Section photographie
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */



/*---------------------------------------
    Icône retour
---------------------------------------*/


